body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eea;
}

.form-horizontal {
  max-width: 430px;
  padding: 15px;
  margin: 0 auto;
}

.form-horizontal .form-hoizontal-heading {
  margin-bottom: 10px;
}

.form-horizontal .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-horizontal .form-control:focus {
  z-index: 2;
}

.form-horizontal input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}