<div class="form-group">
	<label for="answer" class="col-sm-2 control-label">Email</label>
	<div class="col-sm-10">
		<input type="text" class="form-control" id="email" name="email" placeholder="Email">
	</div>
</div>