<div class="form-group">
	<label for="answer" class="col-sm-2 control-label">URL</label>
	<div class="col-sm-10">
		<input type="text" class="form-control" id="prizeURL" name="prizeURL" placeholder="URL">
	</div>
	<label for="answer" class="col-sm-2 control-label">Title</label>
	<div class="col-sm-10">
		<input type="text" class="form-control" id="prizeTitle" name="prizeTitle" placeholder="Title">
	</div>
	<label for="answer" class="col-sm-2 control-label">Photo</label>
	<div class="col-sm-10">
		<input type="text" class="form-control" id="prizePhoto" name="prizePhoto" placeholder="Photo">
	</div>
</div>
	